<h1>石を置く</h1>
<%= form_for @board do |form| %>
    <p>x:(0~7)<%= number_field_tag(:x) %></p>
    <p>y:(0~7)<%= number_field_tag(:y) %></p>
    <p>自分のsid<%= text_field_tag(:sid) %></p>
    <%= form.submit %>
<% end %>

<%= form_tag("/boards/#{@board.id}/pass") do %>
    <p>パスします！sid<%= text_field_tag(:sid) %></p>
    <%= submit_tag "パス！" %>
<% end %>

<% @state = ActiveSupport::JSON.decode(@board.state) %>
<div>
     x-><br/>
    <div style="float:left;">y<br />↓<br /></div>
    <% @state.each_with_index do |arr, x| %>
        <div style="float:left;">
            <% arr.each_with_index do |n, y| %>
                <% if n == 1 %>●
                    <% elsif n == 2 %>○
                <% else %>[ ]<% end %>
                <br />
            <% end %>
        </div>
    <% end %>
</div>

<h1 style="clear:both;">board情報</h1>
<p>id/<%= @board.id %></p>
<p>state/<%= @board.state %></p>
<p>turn/<%= @board.turn %></p>
<p>player1のID/<%= @board.player1 %></p>
<p>player2のID/<%= @board.player2 %></p>
<p>1の石の数/<%= @board.player1_stone_count %></p>
<p>2の石の数/<%= @board.player2_stone_count %></p>
<p>winner/<%= @board.winner %></p>

