<h1>board情報</h1>
<p>id/<%= @board.id %></p>
<p>state/<%= @baord.state %></p>
<p>turn/<%= @baord.turn %></p>
<p>player1/<%= @baord.player1 %></p>
<p>player2/<%= @baord.player2 %></p>
<p>1の石の数<%= @baord.player1_stone_count %></p>
<p>2の石の数<%= @baord.player1_stone_count %></p>
<p>winner<%= @baord.winner %></p>

